@import "tailwindcss";
@import "tw-animate-css";
/* @import "plyr/dist/plyr.css"; */



@custom-variant dark (&:is(.dark *));

@theme {
  --color-textGray: #525252;
  --color-navGray: #404040;
  --color-borderGray: #D4D4D4;
  --color-Heading: #171717;
  --color-bgBlue: #0FA6FF;
  --color-bgGray: #F5F5F5;
  --color-primary: #0A0A0A;
  --color-gray: #717182;
  --color-dark: #F3F3F5;
  --color-success: #00A63E;
  --color-sky: #4A7BFF;
  --color-orange: #E7000B;
  --color-background: #ECECF0;
  --color-border: rgba(0, 0, 0, 0.10);
  --font-inter: "Inter", sans-serif;
  --color-borderGray: #D4D4D4;
  --color-bgBlue: #0FA6FF;
  --color-bgGray: #F5F5F5;
  --color-primary: #0A0A0A;
  --color-borderGray: #D4D4D4;
  --color-MutedText: #525252;
  --color-qrBackground: #E5E5E5;
  --color-bgRed: #EF4444;
  --color-bgGreen: #22C55E;
  --shadow-customShadow:
  0 1px 1px 0 rgba(42, 42, 42, 0.08),
  0 -3px 3px 0 rgba(0, 0, 0, 0.10) inset,
  0 3px 3px 0 rgba(255, 255, 255, 0.10) inset,
  0 0 0 1px rgba(0, 0, 0, 0.20) inset;

  /* dark color variables */
  --color-darkBg: #111827;
  --color-cardBg: #1F1F1F;
  --color-cardBg-2: #1e3a5a;
  --color-inputBg: #333333;
  --color-selectBg: #1e3a5a;
  --color-hover: #333333;
  
  /* Colors - Text (Inverted) */
  --color-headings: #ffffff;
  --color-body-text: #E2E2E2;
  --color-muted: #919191;
  --color-disabled: #606060;
  
  /* Colors - Border */
  --color-borderColor: #404040;
  
  /* Colors - Actions (Adjusted for dark mode) */
  --color-secondary-action: #ffffff;
}

.project-font {
  --font-inter: "Inter", sans-serif; /* Applied Inter font */
}

body {
  font-family: var(--font-inter); /* Apply Inter globally */
}

/* ---------------------------------------------- */
/* BaseVideoPlayer related styles */
/* Make progress bar clickable */
.plyr__progress input[type=range] {
  cursor: pointer !important;
}

/* Make volume slider clickable */
.plyr__volume input[type=range] {
  cursor: pointer !important;
}

/* Buttons pointer */
.plyr__controls button {
  cursor: pointer !important;
}

/* Entire controls bar pointer friendly */
.plyr__controls {
  cursor: default;
}
/* ------------------------------------------------ */


.gradient-text {
  background: linear-gradient(268deg, #FF1E56 1.81%, #D270D2 59.19%, #59A5FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --newAdd: black;
}

.dark {
  --newAdd: black;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

.newAdd {
  color: var(--newAdd);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.volume-slider::-webkit-slider-thumb,
      .brightness-slider::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background: white;
        border: 3px solid #000;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        margin-top: -5px;
        align-items: center;
        justify-content: center;
      }

      .volume-slider::-moz-range-thumb,
      .brightness-slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: white;
        border: 3px solid #000;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      }

      .volume-slider:focus,
      .brightness-slider:focus {
        outline: none;
      }

      /* Track styling */
      .volume-slider,
      .brightness-slider {
        -webkit-appearance: none;
        height: 8px;
        border-radius: 9999px;
        outline: none;
      }

      .volume-slider::-webkit-slider-runnable-track,
      .brightness-slider::-webkit-slider-runnable-track {
        height: 8px;
        border-radius: 9999px;
      }




.add-bg-img {
  width: 100%;
  background-color: #DBF2FF;

  background-image: url('/userDashboard/img2.svg'), url('/userDashboard/img1.svg');
  background-repeat: no-repeat, no-repeat;

  /* Positions */
  background-position:
    20px 30%,       /* first image: top-left inside container */
    right 35px top 6px; /* second image */

  /* Sizes */
  background-size:
    22rem 22rem,  /* first image smaller */
    22.3rem 13.7rem;
}


/* 📱 Tablet screens */
@media (max-width: 1023px) {
  .add-bg-img {
    background-size:
      0rem 0rem,   /* img1 smaller */
      0rem 0rem;   /* img2 smaller */
  }
}



.dashboard-header-bg {
  position: relative;
  height: 220px;
  width: 100%;
  border-radius: 0.75rem; /* Tailwind rounded-xl */
  overflow: hidden;
  /* Gradient background */
  background: linear-gradient(180deg, #0FA6FF -7.42%, #002940 65.92%);
}

/* Top-left image (first image) */
.dashboard-header-bg::after {
  content: '';
  position: absolute;
  top: 18%;      /* adjust vertical position */
  left: 20px;      /* adjust horizontal position */
  width: 22rem;
  height: 22rem;
  background-image: url('/userDashboard/img2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  pointer-events: none;
}

/* Right-middle image (second image) */
/* .dashboard-header-bg::before {
  content: '';
  position: absolute;
  top: 70%;       
  right: 200px;    
  transform: translateY(-50%); 
  width: 18rem; 
  height: 18rem;
  background-image: url('/userDashboard/img3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: none;
} */



